$text: rgb(58, 58, 58);

body { background-color: #fff; color: #30303d ; }

.leaflet-container {
  height: 500px;
  margin: 20px;
  margin-top: 40px;
}

#divSearchCitie{
  margin: 20px 
}
#chartdiv {
  width: 60%;
  height:400px;
}
.msgErr{
  display: inline-block; 
}
#labelSort{
  text-align: center;
  color: white;
}
.radioGroupSort{
  display :block !important;
  margin: 10px 20px 20px 20px !important;
  text-align: center;
}
#selectorDiv{
  float: right;
}
.formControlerRadio{
  width: 150px;
  height:80px;
}
#formControlSort{
  margin-top: 20px;
}
#btnSearch{
  background-color: #9494b8;
}
#inputSearch{
  background-color: #9494b8;
  margin-right: 15px;
}
#openAuth{
  float: right;
  opacity: 0.5
}
#titleHome{
  text-align: center;
}
#contentHome{
  margin: 40px 20px 40px 20px;
}

.inputLogin{
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: none;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
  margin-bottom: 10px
}
.login-text {
  color: white;
}

.test{
  color: blue;
}